.container {
    display: flex;
    width: 960px;
}

.square {
    flex: 1;
    height: 60px;
    background: grey;
    border: 2px solid black;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}