.gridReset {
    width: 200px;
    font-weight: bold;
    font-size: x-large;
    border-radius: 10px;
    padding-block: 20px;
    margin-block: 50px;
}

.container {
    display: flex;
    width: 960px;
}

.square {
    flex: 1;
    background: grey;
    border: 2px solid black;
}

* {
    box-sizing: border-box;
}

body {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}